# Dependencias
node_modules/

# Variables de entorno (claves, contraseñas)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# Cachés y temporales
.npm
.eslintcache

# Sistema operativo
.DS_Store
Thumbs.db

# Compilados / builds
dist/
build/

# Configuración local
.vscode/
